.header-top {
  background-color: rgb(84, 4, 126);
  display: flex;
  justify-content: space-between;
  height: 2.5vmax;
  align-items: center;
  width: 100%;
}

.contact-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contact-div > p{
  margin: 0;
}

.contact-div > p > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-left: 3vmax;
}

.icon-div {
  display: flex;
  flex-direction: row;
}

.icon-div > a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin-right: 1vmax;
}

/* Media Queries for Responsive Design */
@media only screen and (max-width: 768px) {
  .header-top {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .contact-div {
    margin-bottom: 10px;
  }

  .icon-div {
    margin-top: 10px;
  }
}
